@model The_visionaries_Code_404.Data.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<h2 class="text-center mb-4" style="font-weight: bold;">Customer Details</h2>

<h3 style="font-weight: bold;">Basic Information</h3>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td style="font-weight: bold;"> First Name</td>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Last Name</td>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Email</td>
            <td><a href="mailto:@Model.Email" style="text-decoration:none;">@Model.Email</a></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Phone</td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
    </tbody>
</table>

<hr />

<h3 style="font-weight: bold;">Billing Information</h3>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td style="font-weight: bold;">Address</td>
            <td>@Html.DisplayFor(model => model.BillingAddress)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">City</td>
            <td>@Html.DisplayFor(model => model.BillingCity)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">ZIP Code</td>
            <td>@Html.DisplayFor(model => model.BillingZip)</td>
        </tr>
    </tbody>
</table>

<hr />

<h3 style="font-weight: bold;">Delivery Information</h3>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td style="font-weight: bold;">Address</td>
            <td>@Html.DisplayFor(model => model.DeliveryAddress)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">City</td>
            <td>@Html.DisplayFor(model => model.DeliveryCity)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">ZIP Code</td>
            <td>@Html.DisplayFor(model => model.DeliveryZip)</td>
        </tr>
    </tbody>
</table>
